body{
    font-family: 'Madimi One', sans-serif;
    color: black;
    background-color:rgb(73, 105, 137);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
.clearJson{
    position: fixed;
    left: 0%;
    top: 0%;
}
.pomoc{
    text-align: center;
}
.imie{
    font-weight: 1000;
}
.divPrzedstawienie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    margin: 90px;
    position: fixed;
    top: 0%;
    color: rgb(168, 205, 159);

}