body{
    font-family: 'Madimi One', sans-serif;
    color: black;
    background-color:rgb(73, 105, 137);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom right, rgb(73, 105, 137), rgb(88, 163, 153)), 
                  linear-gradient(to bottom left, rgb(73, 105, 137), rgb(88, 163, 153)), 
                  linear-gradient(to top left, rgb(73, 105, 137), rgb(226, 244, 197));


    height: 100vh;
}
.ustawieniatlo {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.panelustawien{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid black 2px;
    height: 70%;
    width: 60%;
    background-color: rgb(73, 105, 137);
    border-radius: 20px;
}
.hidden{
    display: none;
}
#napisAutorzy{
    margin: 0px;
}
.imiona{
    margin: 0px;
}
.divautorzy{
    top: 0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 200px;
    margin: 20px;
    position: absolute;
    color: rgb(168, 205, 159);
}
.authors{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 600px;
    margin: 0px;
    color: rgb(168, 205, 159);
}
.tutorial, .x{
    background-color: rgb(226, 244, 197);
    border: none;
    border-radius: 10px;
    color: rgb(73, 105, 137);
    width: 80px;
    height: 30px;
    margin: 10px;
    position: relative;
}
@keyframes obrotkoleczka{
    0%{    transform: rotate(0deg);}
    100%{    transform: rotate(360deg)}
}
@keyframes rozszerzenieTutorialu{
    0%{    width: 80px;
        height: 30px;}
    100%{    width: 82.5px;
        height: 32.5px;
        margin: 9px;}
}
@keyframes rozszerzenieX{
    0%{    width: 30px;
        height: 30px;}
    100%{    width: 35px;
        height: 35px;
        margin:-2.5px;}
}
.x:hover{
    cursor: pointer;
    background-color: rgb(183, 201, 153);
    animation: rozszerzenieX 0.2s forwards;

}
.tutorial:hover{
    cursor: pointer;
    background-color: rgb(183, 201, 153);
    animation: rozszerzenieTutorialu 0.2s forwards;
}
.x{
    top: 5%;
    left: 65%;
    position: absolute;
    align-self: flex-start;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 40px;
}
.clearJson{
    position: fixed;
    left: 90%;
    top: 0%;
}
.pomoc{
    text-align: center;
    margin: 2px;
}
.imie{
    font-weight: 1000;
    margin: 0px;
}
.divPrzedstawienie1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    margin: 0px;
    position: absolute;
    top: 10%;
    color: rgb(226, 244, 197);
}
.divPrzedstawienie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 600px;
    margin: 0px;
    position: relative;
    top: 0%;
    color: rgb(226, 244, 197);

}
.calemenugier{
    position: absolute;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 300px;
}
.podpisgier{
    color: rgb(226, 244, 197);
    font-size: 30px;
    margin-bottom: 50px;
    display: block;
    position: relative;
    align-self: flex-start;
    left: 2%;
    height: 20%;
}
.gry{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}
.gra1, .gra2, .gra3{
    margin: 10px;
    height: 90%;
    width: 30%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gra1,.gra3{
    border: rgb(168, 205, 159) solid 3px;
    background-color: rgb(226, 244, 197);
    color: rgb(168, 205, 159);
}
.gra2{
    border: rgb(226, 244, 197) solid 3px;
    background-color: rgb(168, 205, 159);
    color: rgb(226, 244, 197);
}
#przeniesc_do_gry1, #przeniesc_do_gry2, #przeniesc_do_gry3{
    width: 70%;
    border-radius: 5px;
    height: 30%;
}
#przeniesc_do_gry1, #przeniesc_do_gry3{
    border: none;
    background-color: rgb(168, 205, 159);
    color: rgb(226, 244, 197);
}
#przeniesc_do_gry2{
    border: none;
    background-color: rgb(226, 244, 197);
    color: rgb(168, 205, 159);
}
#przeniesc_do_gry1, #przeniesc_do_gry2, #przeniesc_do_gry3:hover{
    cursor: pointer;
}


.pasek{
    display: grid;
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: none;
    height: 200px;
    width: 200px;
    grid-template-areas: 
    'kolko exp exp'
    'imiewpasku blank blank '
    'imiewpasku blank blank ';
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
}
.blank{
    background-color: none;
    grid-area: blank;
}
.kolko{
    background-color: none;
    grid-area: kolko;
}
.imiewpasku{
    background-color: none;
    grid-area: imiewpasku;
    display: flex;
}
.segmenty{
    background-color: rgb(168, 205, 159);
    height: 100%;
    width: 25%;
}
.ileexpa{
    overflow: hidden;
    background-color: none;
    border-radius: 10px;
    border: solid black 2px;
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 5px;
}
.exp{
    background-color: none;
    grid-area: exp;
}
.ustawienia{
    height: 50px;
    width: 50px;
    margin: 5px;
}
.ustawienia:hover{
    animation: obrotkoleczka 1s ease-in-out;
    cursor: pointer;
}
.imie2{
    margin: auto;
    margin-left: -10%;
    margin-top: 40%;
    rotate: 270deg;
    color: rgb(168, 205, 159);
}

/* switch ponizej nie ruszaj lepiej */

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 100px;
  }
  
  .switch input {
    display:none;
  }

  .slider {
    background-color: rgb(226, 244, 197);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: rgb(168, 205, 159);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  

  
  input:checked + .slider:before {
    transform: translateX(65px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .container {
    margin: 0 auto;
  }
/* lepiej nie ruszaj powyzej */

.zbiorustawien{

    color: rgb(226, 244, 197);
}

.checkbox1, .checkbox2, .checkbox3{
    width: 1.3em;
    height: 1.3em;
    background-color: rgb(226, 244, 197);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox1:checked, .checkbox2:checked, .checkbox3:checked{
    background-color: rgb(168, 205, 159);
}

.poziom_glosnosci {
    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background: rgb(226, 244, 197);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.poziom_glosnosci:hover {
    opacity: 1; 
}

.poziom_glosnosci::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px; 
    border-radius: 50%; 
    background: rgb(168, 205, 159); 
    cursor: pointer; 
}
.glosnosc,.jezyk,.styl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200%;
    border: solid 2px black;
    margin: 30px;
    border-radius: 20px;
    padding: 9px;
    background-color: rgb(88, 163, 153);
}
.zielonapaleta, .czerwonapaleta, .zoltapaleta{
    width: 1.3em;
    height: 1.3em;
    border-radius: 10px;
    border: solid black 1px;
}
.polska,.angielski{
    border-radius: 5px;
    margin-bottom: 9px;
    width: 40px;
    height: 20px;
}
.jezyk{
    display: flex;
}
.menututorialu{
    
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(zdjecia/tutorialzdjecie.png);
    background-repeat: no-repeat;
}

.wlaczmuzyke{
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none; 
    border-radius: 50%; 
    background: rgb(168, 205, 159); 
    cursor: pointer; 
}
.wrocdomenu {
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: rgb(168, 205, 159);
    color: rgb(88, 163, 153);
    width: 200px;
    border: none;
    border-radius: 5px;
}
.wrocdomenu:hover{
    cursor: pointer;
}
.glosnik{
    position: absolute;
    align-self: start;
    left: 15%;
}
#kolor4{
    color: rgb(226, 244, 197);
}

.ang{
    display: none;
}